# Секреты
.env*

# Зависимости (их не коммитят, они ставятся через npm install)
node_modules/

# Системные файлы macOS
.DS_Store

# Vim swap
*.swp
*.swo

# Stories для Instagram
stories/

# Презентации
presentation/

# Vercel build output
public/
.vercel/
